* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  line-height: 2em;
  font-family: Noto sans;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: capitalize;
  font-family: Raleway black;
}

span {
  font-family: vivaldi;
  font-size: 2em;
  color: rgb(130, 6, 218);
}

body {
  background: hsl(261, 100%, 3%);
  background-size: cover;
  color: white;
  font-size: 15px;
  overflow-x: hidden;
  width:100vw;
}

nav {
  width: 100%;
  background-color: rgba(22, 1, 37, 0.295);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  z-index: 98;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav svg {
  padding: 10px;
  color: rgb(23, 0, 156);
}
nav ul {
  display: none;
}

.nav-hidden-pannel.active {
  display: flex;
}

.nav-hidden-pannel {
  display: none;
  width: 100%;
  box-shadow: 2px 3px 4px black;
  height: 100vh;
  z-index: 100;
  flex-direction: column;
  position: fixed;
  background-color: rgb(12, 8, 29);
  top: 0;
  align-items: center;
}
.nav-hidden-pannel ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  width: 70%;
}
.nav-hidden-pannel ul li {
  padding: 10px;
  border-radius: 5px;
  animation: slideeven 1s;
  display: flex;
  gap: 20px;
  text-align: center;
  background-color: rgb(13, 3, 43);
  align-items: center;
  width: 100%;
  transition: 1s;
}
.nav-hidden-pannel ul li:hover {
  background-color: rgb(24, 19, 56);
  transform: translateX(20px);
}
.nav-hidden-pannel ul li:nth-child(even) {
  animation: slideIn 1s;
}
.nav-hidden-pannel ul li a {
  color: white;
  font-size: 1.1em;
}
.nav-hidden-pannel ul li i, .nav-hidden-pannel ul li svg {
  color: rgb(78, 9, 207);
  font: 1.2em;
}

.hero-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 80px auto;
  width: 90%;
  flex-direction: column-reverse;
  justify-content: center;
  padding: 20px;
  gap: 50px;
}
.hero-section .img-box {
  width: 300px;
  height: 300px;
  background: url("../lib/img/myimg.jpg") center no-repeat;
  background-size: cover;
  border-radius: 50%;
  border: 5px solid rgb(75, 11, 194);
  animation: slideeven 1s;
}
.hero-section .hero-text {
  animation: slideIn 1s;
}
.hero-section .hero-text h2 {
  font-size: 1.7rem;
}
.hero-section .hero-text h2 b {
  text-transform: uppercase;
}
.hero-section .hero-text button {
  background-color: transparent;
  border: 1px solid rgb(4, 0, 22);
  padding: 5px;
  background-color: rgb(78, 9, 207);
  margin-top: 10px;
  border-radius: 5px;
  font-weight: bolder;
  font-family: Raleway;
  text-transform: uppercase;
}
.hero-section .hero-text button a {
  color: white;
}
.hero-section .hero-text p {
  color: rgb(188, 185, 190);
}

.projects {
  background-color: rgb(1, 1, 31);
  margin: 50px auto;
  width: 100%;
  align-items: center;
}
.projects .openers {
  display: flex;
  margin: 0 auto;
  width: 90%;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
}
.projects .openers p {
  width: 90%;
}
.projects .cards {
  display: flex;
  flex-wrap: wrap;
  vertical-align: top;
  width: 100%;
  padding: 5px;
  margin: 20px auto;
  justify-content: center;
  gap: 15px;
}
.projects .cards .card {
  width: 200px;
  height: 300px;
  padding: 20px;
  background-color: rgb(1, 1, 19);
  border-radius: 20px;
  transition: 1s;
}
.projects .cards .card:hover {
  background-color: rgb(5, 3, 10);
  transform: scale(101%);
}
.projects .cards .card img {
  width: 100%;
  height: 40%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.projects .cards .card h4 {
  font-size: 1.1rem;
  font-family: Noto Sans;
  color: rgb(130, 6, 218);
}
.projects .cards .card button {
  background-color: rgb(69, 8, 167);
  color: white;
  padding: 3px;
  border: none;
  border-radius: 5px;
}

.skills {
  padding: 10px;
}
.skills .openers {
  text-align: center;
}
.skills .openers i, .skills .openers svg {
  color: rgb(130, 6, 218);
}
.skills .openers h1 {
  color: rgb(140, 0, 255);
  font-size: 2.5em;
}
.skills .bars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  gap: 40px;
}
.skills .bars .bar {
  width: 40%;
}
.skills .bars .bar i, .skills .bars .bar svg {
  color: rgb(84, 4, 141);
}
.skills .bars .bar .skill-bar .skill-bar-props {
  width: 100%;
  position: relative;
  background-color: white;
  height: 10px;
  border-radius: 20px;
}
.skills .bars .bar .skill-bar .skill-bar-props .progress {
  width: 90%;
  position: absolute;
  background-color: rgb(130, 6, 218);
  height: 100%;
  border-radius: 20px;
}
.skills h2.gen {
  text-align: center;
  font-size: 2rem;
  color: rgb(169, 123, 255);
  padding: 20px;
  font-family: Noto Sans;
}
.skills .circle-boxes {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}
.skills .circle-boxes .circle-box {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: rgb(13, 3, 43);
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.skills .circle-boxes .circle-box i, .skills .circle-boxes .circle-box svg {
  color: rgb(149, 0, 255);
}
.skills .circle-boxes .circle-box h3 {
  font-family: Noto Sans;
}

.about {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 50px auto;
  width: 100%;
  align-items: center;
  gap: 20px;
  justify-content: center;
  background-color: rgb(13, 9, 36);
}
.about .about-text {
  width: 100%;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  padding: 20px;
  gap: 40px;
  flex-wrap: wrap;
}
.about .about-text p {
  width: 90%;
  font-size: 1.1rem;
  color: silver;
}
.about .about-text p b {
  color: white;
}
.about .about-text img {
  width: 300px;
  height: 20%;
  transform: rotate(-10deg);
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  transition: 1s;
}
.about .about-text img:hover {
  transform: rotate(0deg) scale(101%);
  box-shadow: 2px 4px 5px rgb(0, 0, 0);
}

.contact-me {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.contact-me .openers .social-media-icons {
  display: flex;
  gap: 20px;
  align-items: center;
}
.contact-me .openers .social-media-icons .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(15, 4, 44);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contact-me .openers .social-media-icons .icon i, .contact-me .openers .social-media-icons .icon svg {
  color: rgb(240, 230, 250);
}
.contact-me form {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 20px;
  gap: 20px;
}
.contact-me form input {
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: rgba(89, 0, 255, 0.253);
  outline: none;
  color: white;
}
.contact-me form input::-moz-placeholder {
  color: rgb(213, 172, 247);
}
.contact-me form input::placeholder {
  color: rgb(213, 172, 247);
}
.contact-me form input:hover {
  background-color: rgb(65, 14, 116);
}
.contact-me form textarea {
  width: 98%;
  height: 20%;
  resize: none;
  background-color: rgb(37, 1, 94);
  border-radius: 10px;
  padding: 10px;
  outline: none;
  border: none;
}
.contact-me form textarea:hover {
  background-color: rgb(65, 14, 116);
}
.contact-me form textarea::-moz-placeholder {
  color: rgb(213, 172, 247);
}
.contact-me form textarea::placeholder {
  color: rgb(213, 172, 247);
}
.contact-me form button {
  padding: 5px;
  background-color: rgb(98, 9, 240);
  color: white;
  border-radius: 5px;
  border: none;
}
.contact-me form button:hover {
  background-color: rgb(65, 14, 116);
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0px);
  }
}
@keyframes slideeven {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}
@media screen and (min-width: 1168px) {
  .hero-section {
    display: flex;
    flex-direction: row;
  }
  .contact-me form {
    width: 50%;
  }
}
@media screen and (min-width: 868px) {
  nav i.fa-bars, nav svg.fa-bars {
    display: none;
  }
  nav ul {
    display: flex;
  }
  nav ul li {
    padding: 20px;
  }
  nav ul li a {
    color: white;
  }
  .hero-section {
    display: flex;
    flex-direction: row;
  }
  .contact-me form {
    width: 50%;
  }
}/*# sourceMappingURL=index.css.map */
